.routeline{
    display: block;
    position: relative;
    margin: 0 auto;
    top: -12px;
    height: 3px;
    width: 0px;
    background-color: red;
    transition: width 0.2s;
}
.item{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: block;
    min-width: 30px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgb(255, 235, 239);
    a:hover + .routeline {
      width: 100%;
      margin: 0 auto;
    }
}